@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
body, html {
  background: hsl(217, 19%, 24%);
  display: grid;
  color: aqua;
  height: 100vh;
  grid-template-rows: auto 0px;

  
}
/* html{
  height: 100vh;
} */


main {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 30px 40px ;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  
   
}

.card {
  position: relative;
  width: 700px;
  height: 400px;
  margin: 0 auto;
  border-radius: 15px;
  background: hsl(216, 24%, 32%);
  box-shadow: 0 10px 30px rgba(180, 227, 241, 0.658);
}
.face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.face1 {
  box-sizing: border-box;
  padding: 20px;
}
.face1 h2 {
  margin: 0;
  padding: 0;
}
.face1 .advice {
  background-color: #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.face1 h2 {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.face1 p {
  padding-top: 30px;
  font-size: 24px;
}

  .divider-mobile{
      display: none;
  }
  .divider{
      width: 100%;
      margin: 40px 0 -200px;
      position: absolute;
      padding: 120px;
  }

  #dice{
    margin: 160px -190px -200px -200px;
    position: absolute;
    padding: 20px;
    cursor: pointer;
    background-color:  #52ffa8;
    border-radius: 50%;
    border-style: none;
  }
#dice img{
width: 30px;  
}

#dice:hover{
    box-shadow: 0 0 40px #52ffa8;
    transition-timing-function: ease-out;
}
.down {
  align-self: flex-end;
  background-color: rgb(7, 17, 14);
  padding: 10px;
  text-align: center;
  bottom: 0;
  font-size: 16px;
  color: white;
 
}
.down a{
  /* text-decoration: none; */
  color: aqua;
  
}

/* =============================================Mobile Section===================================================================== */
@media (min-width: 530px) {
  main{
    margin: auto;
  }

} 

/* https://github.com/krrish105/Advice-Generator-App/blob/master/index.html */